<div class="container">
{{#if courses.length}}
{{#each courses}}
<div class="">
    <div class="col s6 offset-3 item">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action">
                <a href="/courses/{{id}}">This is a link</a>
                <a href="/courses/{{id}}/edit?allow=true">Edit</a>
                <form action="/cart/add" method="post">
                <input type="text" hidden name='id' value='{{id}}'>
                <button type="submit" class="btn btn-primary">To cart</button>
                </form> 
            </div>
        </div> 
    </div>
</div>
{{/each }} 
{{else}}
<h2>Courses not </h2>
{{/if}} 
</div>